<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ices_pm_inductiveMiner_portal</title>
    <link rel="stylesheet" href="/css/style-experiment-portal.css">
</head>
<body>
    <div style="float: left;background-color: lightgrey;width: 340px;height: 100%">
        <a href="ices_pm_im_logInfo.html" target="im_right" class="button">Overall Log Information</a>
        <a href="ices_pm_im_instanceInfo.html" target="im_right" class="button">Process Instance Information</a>
        <a href="ices_pm_im_variantInfo.html" target="im_right" class="button">Process Variant Information</a>
        <a href="ices_pm_im_variantGraph.html" target="im_right" class="button">Variant Graph</a>
        <a href="ices_pm_im_processModel.html" target="im_right" class="button">Process Model</a>
    </div>
    <div style="box-sizing:border-box;border-style:solid;border-width:4px;border-color:lightgrey;height: 100%;margin-left: 340px">
        <iframe style="height: 100%;width: 100%;border: none;" id="im_right" name="im_right" src="ices_pm_im_default.html"></iframe>
    </div>
</body>
</html>