<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test display html</title>
    <style>
        html,body{
            height: 100%;
            width: 100%;
        }
        .mod{
            display: flex;
            align-items: center;
            height:100%;
            width: 100%;
        }
        .inner{
            width: 100%;
        }
    </style>
</head>
<body>
<div class="mod">
    <div class="inner">
        <h1 style="text-align: center;width: 320px;font-size: 45px;padding: 10px;font-family: Georgia;color: #ffffff;background-color: #333333">
            Experiment:<br>
        </h1>
        <h1 style="text-align: center;font-size: 45px;font-family: Georgia;">
            A Value-Oriented Service Process Mining Algorithm
        </h1>
    </div>
</div>
</body>
</html>