<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VSPM(A Value-Oriented Service Process Mining Algorithm)</title>
    <link rel="stylesheet" href="/css/style-experiment-portal.css">
</head>
<body>
    <div style="float: left;background-color: lightgrey;width: 340px;height: 100%">
        <a href="ices_pm_vspm_logInfo.html" target="vspm_right" class="button">Overall Log Information</a>
        <a href="ices_pm_vspm_instanceInfo.html" target="vspm_right" class="button">Process Instance Information</a>
        <a href="ices_pm_vspm_variantInfo.html" target="vspm_right" class="button">Process Variant Information</a>
        <a href="ices_pm_vspm_variantGraph.html" target="vspm_right" class="button">Variant Graph</a>
        <a href="ices_pm_vspm_apMapping.html" target="vspm_right" class="button">Activity-Participant Mapping</a>
        <a href="ices_pm_vspm_apvMapping.html" target="vspm_right" class="button">Activity-Participant-Value Mapping</a>
        <a href="ices_pm_vspm_serviceProcessModel.html" target="vspm_right" class="button">Service Process Model</a>
        <a href="ices_pm_vspm_serviceValueChain.html" target="vspm_right" class="button">Service Value Chain</a>
    </div>
    <div style="box-sizing:border-box;border-style:solid;border-width:4px;border-color:lightgrey;height: 100%;margin-left: 340px">
        <iframe style="height: 100%;width: 100%;border: none;" id="vspm_right" name="vspm_right" src="ices_pm_vspm_default.html"></iframe>
    </div>
</body>
</html>