html,body{
    height: 99%;
    width: 99.5%;
}
a{
    width: 320px;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
    padding-top: 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Futura, serif;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: brown;
    border-radius: 7px;
}